/* ELEMENTS */
h1 {
  color: #A0A4B8;  /* #235555 */
  text-align: center;
}

body {
  background-color: #f5f2f7;
}

/* CLASSES */
.worldmap {
  text-align: center;
  color: #7293A0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worldmapdeets {
  color: #7293A0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: .25fr 1.75fr;
  grid-gap: 5px;
}

.mapdetailstext {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 250px;
    width: 30%; 
    background-color: #d8ddefc0;
    text-emphasis-color: #A0A4B8; 
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
}

/* ---- Danny's code */
.hvrClr2:hover {
  color: #3A2449;
  transition: ease-in-out 1s;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #7293A0;
  border-radius: 50%;
  display: inline-block;
}

/* IDs */
#mapcanvas {
  height: 50em;

  min-height: 200px;
  min-width: 200px;

  /* max-width: 800px; */
  
  margin: 10px 0 10px 0;
  padding: 0px 4px 0px 4px;

  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

#mapdetails {
  min-width: 300px;
  margin: 0 0 0 0;
}




